# Ignore virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore model checkpoints and logs (optional)
*.h5
*.ckpt
logs/
webapp/
__waste-classifier__